$text-color: #fffafa;

%text-font-e-color {
    font-family: 'Major Mono Display', monospace;
    color: $text-color;
}

%element-attribute {
    background-position: center;
    background-size: cover;
    min-height: 574px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%button-transparent {
    @extend %text-font-e-color;
    padding: 10px 20px;
    border: 1px solid $text-color;
    border-radius: 50px;
}

header {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 5;

    nav {
        text-align: end;
        align-self: center;

        a {
            @extend %text-font-e-color;
            margin: 0 10px;
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}

body {
    background-color: black;
}

h1, h2, h3, h4 {
    @extend %text-font-e-color;
}

.logo {
    padding: 10px 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: -webkit-fill-available;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */

    h4 {
        width: 30vw;
    }
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/hero_aliens_earth.jpg);
    background-position: center;
    background-size: cover;
    padding: 10vh 9vw;
}

#hero a {
    @extend %button-transparent;
    align-self: flex-start;
}

#hero a:hover {
    background-color: slategray;
    border-color: slategray;
    text-decoration: none;
}

.carousel-item img {
    height: 500px;
}

#section_experiences {
    padding: 0 20px;
    text-align: center;

    h1, h4 {
        padding: 5vh 0;
    }
}

hr.dotted {
    border-top: 3px dotted $text-color;
}

button {
    @extend %button-transparent;
    background-color: black;
    margin-bottom: 10px;
}

button:hover {
    background-color: slategray;
    border-color: slategray;
}

#section_attributes {
    padding-top: 10vh;
    text-align: center;

    h4 {
        margin: 5vh 5vw;
    }
}

#attribute1 {
    @extend %element-attribute;
    background-image: url(images/attribute1.jpg);
}

#attribute2 {
    @extend %element-attribute;
    background-image: url(images/attribute2.jpg);
}

#attribute3 {
    @extend %element-attribute;
    background-image: url(images/attribute3.jpg);
}

#attribute4 {
    @extend %element-attribute;
    background-image: url(images/attribute4.jpg);
}

// Mobile
@media screen and (max-width: 576px) {
    header {
        position: absolute;
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.0);

        nav {
            display: none;
        }
    }

    .logo {
        padding: 10px 20px;
        text-align: center;

        img {
            height: 80px;
        }
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    #hero {
        background-image: url(images/hero_mobile.jpg);
    }

    .flex-container {
        text-align: center;

        h4 {
            width: inherit;
        }
        
        a {
            align-self: center;
        }
    }

    #section_experiences {
        padding: 0 5px;
    
        h1, h4 {
            padding: 2vh 0;
        }

        .reverse {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}